In [ ]:
num = 100

In [ ]:
num_3 = num*3

In [ ]:
print num_3

In [1]:
num_3

NameError: name 'num_3' is not defined

In [2]:
num = 10

In [3]:
num_3 = num*3

In [4]:
num_3

30

In [5]:
type(num_3), id(num_3)

(int, 1714938544)

In [6]:
import math

In [7]:
factorial(5)

NameError: name 'factorial' is not defined

In [8]:
math.factorial(5)

120

In [9]:
print(r "C:\some\name")

SyntaxError: invalid syntax (<ipython-input-9-d1760d74753a>, line 1)

In [10]:
print(r"C:\some\name")

C:\some\name

In [13]:
s = """Python
is
a nice language
to work"""

In [15]:
print(s)

Python
is
a nice language
to work

In [18]:
t = (1, 'name', 'address', 'phone')

In [19]:
type(t), t

(tuple, (1, 'name', 'address', 'phone'))

In [20]:
type(s)

str

In [21]:
L = [1, 2, 3, "smith"]

In [22]:
id(L)
id(L[1])

1714937648

In [23]:
id(L)

80089160

In [24]:
id(L[1])

1714937648

In [25]:
L(1) = 200

SyntaxError: can't assign to function call (<ipython-input-25-7b9494a0cad8>, line 1)

In [26]:
L[1] = 200

In [27]:
L

[1, 200, 3, 'smith']

In [28]:
id(L[1])

1714943984

In [29]:
id(L)

80089160

In [30]:
A = [1, 2, 3]
B = [1,2,3]

In [31]:
A, id(A), B, id(B)

([1, 2, 3], 80089864, [1, 2, 3], 80091464)

In [32]:
A is B

False

In [33]:
A==B

True

In [34]:
A[1]=B

In [35]:
A

[1, [1, 2, 3], 3]

In [36]:
A=B

In [37]:
id(A), id(B)

(80091464, 80091464)

In [38]:
A = [1, 2, 3, 4]

In [39]:
A==B

False

In [40]:
id(A), id(B)

(83418120, 80091464)

In [41]:
A[1] in B

True

In [42]:
x = 5

In [43]:
id(x)

1714937744

In [44]:
x = x + 10

In [45]:
id(x)

1714938064

In [49]:
if True:

print("true")

IndentationError: expected an indented block (<ipython-input-49-a3a2acaed3fd>, line 3)

In [50]:
x = 100
print("x = "+x)

TypeError: Can't convert 'int' object to str implicitly

In [51]:
d = {"John":98, "Tim":92, "Cathy":95, "Jane":90}

In [52]:
for value in d:
    print(value, d[value])

Tim 92
John 98
Jane 90
Cathy 95

In [53]:
s = '*******      Python      ********'

In [54]:
s.lstrip(' *')

'Python      ********'

In [55]:
s1 = s.strip('* ')

In [56]:
s1

'Python'

In [57]:
s1.ljust(10, '0')

'Python0000'

In [58]:
s1.zfill(10)

'0000Python'

In [59]:
s1.rjust(10, '0')

'0000Python'

In [60]:
s = 'Python programming'

In [61]:
s.find('mm', 5, 18)

13

In [62]:
s.find('m')

13

In [63]:
s.index('m')

13

In [64]:
s = 'there are a couple of baby cats'

In [65]:
s.replace('a', 'b')

'there bre b couple of bbby cbts'

In [66]:
s.replace('a', 'b', 2)

'there bre b couple of baby cats'

In [67]:
s.isprintable()

True

In [68]:
l = s.split()

In [69]:
for w in l: print(w)

there
are
a
couple
of
baby
cats

In [70]:
type(w)

str

In [71]:
s1 = ' '

In [72]:
s1.join(l)

'there are a couple of baby cats'

In [73]:
s = "Scores are: {0}, {1}, {2}".format(98, 95, 88)

In [75]:
type({0}), {0}

(set, {0})

In [76]:
print({0})

{0}

In [77]:
print(s)

Scores are: 98, 95, 88

In [82]:
s = "Password: {0}, {1}, {2}".format(*'xyz')
print(s)

Password: x, y, z

In [83]:
t = (10,20, 30)

In [85]:
s = "Password: {0}, {1}, {2}".format(t)
print(s)

IndexError: tuple index out of range

In [86]:
s1 = "perc: {0:%}".format(98)

In [87]:
print(s1)

perc: 9800.000000%

In [88]:
s = [1, 2, 3]

In [89]:
x = s.pop()

In [90]:
x

3

In [91]:
s.append(30)

In [92]:
s

[1, 2, 30]

In [93]:
x = s.remove()

TypeError: remove() takes exactly one argument (0 given)

In [94]:
s.remove()
s

TypeError: remove() takes exactly one argument (0 given)

In [95]:
x = s.remove(0)

ValueError: list.remove(x): x not in list

In [96]:
s.del(0)

SyntaxError: invalid syntax (<ipython-input-96-9fe185ae8a39>, line 1)

In [97]:
x=s.pop(0)

In [98]:
s, x

([2, 30], 1)

In [99]:
def f1(n1, n2=10, n3):
    return 100

SyntaxError: non-default argument follows default argument (<ipython-input-99-87c21ca9fa0a>, line 1)

In [100]:
S = []
for n in range(5):
    S.append(n)
S

[0, 1, 2, 3, 4]

In [101]:
def sumVariNums(args):
    sum = 0
    for n in args:
        sum  = sum + n
    return sum

tot = sumVariNums((10, 20, 30))
tot

60

In [102]:
def countChars(*args):
    S = ""
    for w in args:
        S = S + w
    
    A_freq = {}
    
    for x in S:
        A_freq[x] = D[x]+1
        
    return D

In [104]:
countChars("John", "nancy")

KeyError: 'J'

In [119]:
args = ["john", "nancy"]
S = ""
for w in args:
    S = S + w
S
print(S)
A_freq = {}
    
for x in S:
     if (x in list(A_freq)): 
        A_freq[x] = A_freq[x] + 1
     else:
        A_freq[x] = 1    
print(A_freq)

johnnancy
{'c': 1, 'a': 1, 'o': 1, 'y': 1, 'j': 1, 'h': 1, 'n': 3}

In [122]:
def countChar(*args):
    S = ""
    for w in args:
        S = S + w.upper()
    S

    A_freq = {}
    
    for x in S:
         if (x in list(A_freq)): 
            A_freq[x] = A_freq[x] + 1
         else:
            A_freq[x] = 1    
    return(A_freq)

In [127]:
res = countChar("Gary", "Kris", "Cathy", "John", "Alex")
print(res, end=' ')

{'J': 1, 'I': 1, 'O': 1, 'N': 1, 'Y': 2, 'S': 1, 'R': 2, 'A': 3, 'G': 1, 'H': 2, 'T': 1, 'E': 1, 'C': 1, 'L': 1, 'K': 1, 'X': 1}

In [128]:
res = countChar("Gary", "Kris", "Cathy", "John", "Alex")
print(res, end=' ')

{'J': 1, 'I': 1, 'O': 1, 'N': 1, 'Y': 2, 'S': 1, 'R': 2, 'A': 3, 'G': 1, 'H': 2, 'T': 1, 'E': 1, 'C': 1, 'L': 1, 'K': 1, 'X': 1}

In [132]:
sorted(list(res))

['A',
 'C',
 'E',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'N',
 'O',
 'R',
 'S',
 'T',
 'X',
 'Y']

In [133]:
print(res)

{'J': 1, 'I': 1, 'O': 1, 'N': 1, 'Y': 2, 'S': 1, 'R': 2, 'A': 3, 'G': 1, 'H': 2, 'T': 1, 'E': 1, 'C': 1, 'L': 1, 'K': 1, 'X': 1}

In [136]:
def myRange( *args ):
    """ My Range Function """
    start = stop = step = 0
    if( len(args) == 3):
        start = args[0]
        stop = args[1]
        step = args[2]
    elif( len(args) == 2):
        start = args[0]
        stop = args[1]
        step = 1
    else:
        start = 0
        stop = args[0]
        step = 1
    i = start
    while( i < stop ):
        yield i
        i = i + step

A = myRange(5,30, 2 , 4)
print(list(A))

[0, 1, 2, 3, 4]

In [139]:
type(myRange(*args))

generator

In [140]:
type(myRange(*args))

generator

In [141]:
!ls -l

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [142]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 0834-85AF

 Directory of C:\Python\working

18/11/2015  10:51 PM    <DIR>          .
18/11/2015  10:51 PM    <DIR>          ..
18/11/2015  10:38 PM    <DIR>          .ipynb_checkpoints
18/11/2015  10:51 PM            39,176 Untitled.ipynb
18/11/2015  10:38 PM                72 Untitled1-Copy1.ipynb
18/11/2015  10:38 PM             1,578 Untitled1.ipynb
               3 File(s)         40,826 bytes
               3 Dir(s)  33,257,717,760 bytes free

In [147]:
import Untitled1 as my
s=my.countChar("asdf", "fsdgdf", "x")
print(s)

ImportError: No module named 'Untitled1'

In [152]:
import Untitled1 as my
s=my.countChar("asdf", "fsdgdf", "x")
print(s)

{'S': 2, 'A': 1, 'G': 1, 'F': 3, 'D': 3, 'X': 1}

In [151]:
import Untitled1 as my
s=my.countChar("asdf", "fsdgdf", "x")
print(s)

{'S': 2, 'A': 1, 'G': 1, 'F': 3, 'D': 3, 'X': 1}

In [153]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [154]:
S1 = Series([10, 20, 30, 40])
S1

0    10
1    20
2    30
3    40
dtype: int64

In [158]:
S2 = Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])
S2

A    10
B    20
C    30
D    40
dtype: int64

In [157]:
S2 = Series([10, 20, 30, 40])
S2

0    10
1    20
2    30
3    40
dtype: int64